# Vivado
*.jou
*.log
*.str
*.runs
*.cache
*.ip_user_files
*.Xil

# Simulation
*.vcd
*.fst

# Python
__pycache__/

# Training useless fi,es
training/sim_build
training/*.xml
training/venv

#removed sims result
ip/*/sim/*